<!DOCTYPE html>
<html lang="en" ng-app="Museum">
  <head>
    <meta charset="utf-8">
    <title>
      IZI Prototype
    </title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/jplayer.blue.monday.css" rel="stylesheet">
    <link href="css/toggle-switch.css" rel="stylesheet">
    <link href="css/prototype.css" rel="stylesheet">
  </head>
  <body ng-controller="IndexController">
    <div class="navigation navbar-fixed-top">
      <div class="museum_navigation_menu">
        <div class="museum_navbar row">
          <div class="left_content">
            <i class="icon-external-link"></i><a class="top_nav" href="#">Open in new Tab</a><i class="icon-bar-chart"></i><a class="top_nav" href="#">Statistic</a><i class="icon-plus-sign"></i><a class="top_nav" href="#">New museum</a><i class="icon-plus-sign"></i><a class="top_nav" href="#">New Tour</a>
          </div>
          <div class="right_content navbar-right">
            <museum-search ng-model="museum_search"></museum-search>
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.mail}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat="provider in user.providers" role="presentation">
                  <a href="{{provider.link}}" role="menuitem" tabindex="-1">{{provider.name}}</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="provider in user.providers" role="presentation">
                  <a href="{{provider.link}}" role="menuitem" tabindex="-1">Edit {{provider.name}}</a>
                </li>
                <li class="divider"></li>
                <li role="presentation">
                  <a href="" role="menuitem" tabindex="-1">Profile</a>
                </li>
                <li role="presentation">
                  <a href="" role="menuitem" tabindex="-1">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="museum_filters">
          <a class="time_changed" href="#" ng-class="{&#39;active&#39;: museum_type_filter == &#39;&#39;}" ng-click="museum_type_filter = &#39;&#39;"><i class="icon-time"></i></a><a class="type_museum" href="#" ng-class="{&#39;active&#39;: museum_type_filter == &#39;museum&#39;}" ng-click="museum_type_filter = &#39;museum&#39;"><i class="icon-home"></i></a><a class="type_tour" href="#" ng-class="{&#39;active&#39;: museum_type_filter == &#39;tour&#39;}" ng-click="museum_type_filter = &#39;tour&#39;"><i class="icon-map-marker"></i></a>
        </div>
        <ul class="museum_list row">
          <li class="museum" ng-repeat="museum in museums | filter:museum_search | filter:{type:museum_type_filter}">
            <a href="#"><span class="package_status {{museum.packege_status}}"><i ng-class="{&#39;icon-ok-sign&#39;:museum.packege_status==&#39;generated&#39;, &#39;icon-refresh&#39;:museum.packege_status==&#39;process&#39;}"></i></span><img src="{{museum.image}}">
              <h4>
                {{museum.name}}, <span>{{museum.city}}</span>
              </h4>
            </a>
          </li>
        </ul>
      </div>
      <div class="navbar navbar-default">
        <div class="left_content">
          <a class="menu_opener" href="#" ng-click="toggle_menu($event)"><i class="icon-reorder"></i></a>
          <h1 class="museum_title">
            {{current_museum.name}}
          </h1>
          <div class="btn-group language">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">{{translations[current_museum.language]}}  <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="story in current_museum.stories">
                <a href="#" ng-click="current_museum.language = story.language">{{story.name}}</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{current_museum.new_story_link}}">New language</a>
              </li>
            </ul>
          </div>
          <div class="btn-group"></div>
        </div>
        <div class="right_content">
          <span class="autosaved_info">Changes autosaved at 19:46</span>
          <div class="btn-group">
            <button class="btn btn-success" type="button">Updateted to everyone</button><button class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">
              <div class="extra">
                <i class="icon-globe"></i>
              </div>
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="actions_bar">
        <div class="left_content">
          <button class="btn btn-warning spacer" id="create_new_item" ng-click="create_new_item()" type="button">New item </button><a class="spacer" href="#" ng-click="select_all_exhibits()" ng-show="select_all_enabled" ng-switch="" on="all_selected"><span ng-switch-when="false">Select all</span><span ng-switch-when="true"> Unselect all</span></a>
        </div>
        <div class="right_content">
          <span class="limits spacer">All items: <b>50-150</b> of <b>304 </b></span>
          <div class="btn-group spacer">
            <button class="btn btn-default prev" type="button"><i class="icon-chevron-left"></i></button><button class="btn btn-default next" type="button"><i class="icon-chevron-right"></i></button>
          </div>
          <input class="form-control search spacer" ng-model="exhibit_search" placeholder="Search" type="text"><button class="btn btn-default filter_opener" ng-click="toggle_filters($event)" type="button">Filters</button>
        </div>
      </div>
      <div class="filters_bar">
        <a class="clear_fiters spacer" href="#">Clear filters</a>
        <div class="dropdown">
          <a data-toggle="dropdown" href="#" id="visibility_filter">Visibility in mobile application <span class="caret"></span></a>
          <ul aria-labelledby="visibility_filter" class="dropdown-menu" role="menu">
            <li role="presentation">
              <a href="#" role="menuitem" tabindex="-1">Action</a>
            </li>
            <li role="presentation">
              <a href="#" role="menuitem" tabindex="-1">Action</a>
            </li>
            <li role="presentation">
              <a href="#" role="menuitem" tabindex="-1">Action</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="page">
        <script id="myDummyModalContent.html" type="text/ng-template">
          <div class="modal-dialog" id="dummyModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button aria-hidden="true" class="close" data-dismiss="modal" type="button"></button>
                  <h4 class="modal-title">
                    Name of exhibit is empty
                  </h4>
                </div>
                <div class="modal-body row">
                  <div class="pull-right">
                    <button class="btn btn-default" ng-click="discard()" type="button">Discard item</button><button class="btn btn-primary" ng-click="save_as()" type="button">Save as "item_{{exhibit.number}}"</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </script>
        <ul class="exhibits">
          <li id="drop_down" ng-controller="DropDownController">
            <div class="prev-ex"></div>
            <div id="images">
              <div class="images-list ui-sortable" data-liftable="data-liftable" data-sort-url="/77/story_sets/5546/images/sort" style="">
                <h4 class="hidden-header hidden">
                  Shown images
                  <div class="help-tooltip">
                    <i class="icon-question-sign icon tip" data-placement="right" title="The images from this list will be made visible in mobile app.&amp;lt;br&amp;gt;The list should contain no more than 16 images."></i>
                  </div>
                </h4>
                <ul class="images-displayed" data-max-displayed="16">
                  <li id="media_content_ids_{{image.id}}" ng-repeat="image in $parent.active_exhibit.images">
                    <form accept-charset="UTF-8" action="{{image.edit_url}}" class="upload-form" data-remote="true" enctype="multipart/form-data" id="edit_image_38999" method="post">
                      <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="slPXFPmxToMp04VZEhyFiOHAmj1fX4qmry9EFqFud5E=">
                      </div>
                      <input class="hide fileupload" data-accept="image" id="image_link" name="image[link]" type="file"><a class="thumbnail" href="{{image.edit_url}}/crop.json"><img alt="" data-crop-url="{{image.image}}" src="{{image.thumb}}"></a><a class="remove" data-confirm="Are you sure you wish to delete this image?" data-method="delete" href="{{image.edit_url}}" ng-click="delete_image($event)" rel="nofollow">×</a>
                      <div class="progress progress-success progress-striped active hide">
                        <div class="bar"></div>
                      </div>
                      <a class="browse update" ng-click="change_image($event)">Update image</a>
                    </form>
                  </li>
                </ul>
                <h4 class="hidden-header hidden">
                  More images
                  <div class="help-tooltip">
                    <i class="icon-question-sign icon tip" data-placement="right" title="The images from this list will not be visible in mobile app.&amp;lt;br&amp;gt;To make the image visible in mobile app, please,&amp;lt;br&amp;gt;move it to the upper list by holding down the left mouse button."></i>
                  </div>
                </h4>
                <ul class="images-hidden">
                  <li id="media_content_ids_" style="display: none;">
                    <form accept-charset="UTF-8" action="/77/story_sets/4246/images" class="upload-form" data-remote="true" enctype="multipart/form-data" id="new_image" method="post">
                      <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="slPXFPmxToMp04VZEhyFiOHAmj1fX4qmry9EFqFud5E="></input>
                      </div>
                      <input class="hide fileupload" data-accept="image" id="image_link" name="image[link]" type="file"><a class="thumbnail" href="/77/story_sets/4246/images//crop.json"><img alt="" src="/assets/img-bg-cb04c4d3300cab558fdc85722ad21ac6.png">
                            <div class="progress progress-success progress-striped active hide">
                              <div class="bar"></div>
                            </div>
                          </img></a><a class="browse update" ng-click="change_image($event)">Upload image</a></input>
                    </form>
                  </li>
                  <li class="new">
                    <a class="upload-image" href="/77/story_sets/5546/images/new" ng-click="upload_image($event)">
                      <div class="picture"></div>
                      <div class="progress progress-success progress-striped active hide">
                        <div class="bar" style="width: 100%;"></div>
                      </div>
                      <span class="name">Upload image
                        <div class="help-tooltip">
                          <i class="icon-question-sign icon tip" data-original-title="Upload exhibit photograph in JPEG or PNG format.&amp;lt;br&amp;gt;This image will be shown to the mobile application user on their smartphone or tablet.&amp;lt;br&amp;gt;Use high quality images that are not too large.&amp;lt;br&amp;gt;The most advantageous photograph proportions are 4:3." data-placement="right"></i>
                        </div>
                      </span></a>
                  </li>
                </ul>
              </div>
              <div class="modal hide crop-wrap" id="crop_modal">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal"></button>
                  <h3>
                    Crop image
                    <div class="help-tooltip">
                      <i class="icon-question-sign icon tip" data-placement="bottom" title="In this window you may crop the uploaded photograph. Remember that, on a smartphone screen, 4:3 proportioned photographs look the most appealing. The cropping frame has these proportions as the default."></i>
                    </div>
                  </h3>
                </div>
                <div class="modal-body" style="min-height: 0px;">
                  <div class="image-for-crop">
                    <img src="https://s3-eu-west-1.amazonaws.com/original-media.dev.izi.travel/6f628c51-1ba0-48ef-8213-0c84253753e3/2f12a234-be93-4f6d-8ff9-37ead034136f.jpg" style="display: block; visibility: hidden; width: 2304px; height: 1536px;">
                  </div>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-primary save-crop">Save</a><a class="btn" data-dismiss="modal">Cancel</a>
                </div>
              </div>
            </div>
            <div class="description">
              <div class="close"></div>
              <switchpubitem ng-item="active_exhibit" ng-museum="current_museum" ng-provider="provider" translations="translations"></switchpubitem><a class="delete_story" href="#delete_story" ng-click="delete_modal_open()"><i class="icon-trash"></i></a>
              <script id="myModalContent.html" type="text/ng-template">
                <div class="modal-dialog" id="delete_story">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form class="form-horizontal">
                        <div class="only_one" ng-show="only_one">
                          <div class="form-group">
                            <label class="control-label" for="lang_def_{{modal_options.current_language.language}}" ng-click="show_langs = false; mark_default_only()"><input checked="checked" class="hidden" id="lang_def_{{modal_options.current_language.language}}" name="language" type="radio" value="en">Delete item completely?</label>
                          </div>
                        </div>
                        <div class="multiply" ng-hide="only_one">
                          <div class="form-group">
                            <label class="control-label" for="lang_{{modal_options.current_language.language}}" ng-click="show_langs = false; mark_default_only()"><input checked="checked" id="lang_{{modal_options.current_language.language}}" name="language" type="radio" value="en">Delete only {{modal_options.current_language.name}} language</label>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="lang_all" ng-click="show_langs = false; mark_all()"><input id="lang_all" name="language" type="radio" value="all">Delete all languages</label>
                          </div>
                          <div class="form-group">
                            <label class="control-label lang_selected" for="lang_selected" ng-click="show_langs = true"><input id="lang_selected" name="language" type="radio" value="selected">Delete only selected languages</label>
                          </div>
                        </div>
                        <div class="other_variants" ng-show="show_langs">
                          <div class="form-group" ng-repeat=" language in modal_options.languages">
                            <label class="control-label" for="language_{{language.language}}"><input id="language_{{language.language}}" name="languages[]" ng-change="lang_proc()" ng-checked="language.checked" ng-model="language.checked" type="checkbox" value="{{language.language}}">{{language.name}}</label>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default" ng-click="ok()" type="button">Delete</button><button class="btn btn-primary" ng-click="cancel()" type="button">Cancel</button>
                    </div>
                  </div>
                </div>
              </script>
              <tabset><tab heading="Media content">
                  <div class="row" id="media">
                    <form class="form-horizontal" role="form">
                      <placeholderfield ng-field="number" ng-help="help text for popup" ng-id="opas_number" ng-item="active_exhibit" ng-title="OPAS number"></placeholderfield><placeholderfield ng-field="name" ng-help="help text for popup 2" ng-id="name" ng-item="active_exhibit.stories[current_museum.language]" ng-title="Name"></placeholderfield><audioplayer ng-field="audio" ng-help="help text for popup 5" ng-id="audio" ng-item="active_exhibit.stories[current_museum.language]" ng-title="Audio"></audioplayer><placeholdertextarea ng-field="description" ng-help="help text for popup 3" ng-id="description" ng-item="active_exhibit" ng-title="Description"></placeholdertextarea>
                    </form>
                  </div>
                </tab><tab heading="Quiz">
                  <div class="row" id="quiz">
                    <form class="form-horizontal" name="quizform" role="form">
                      <div class="switch-toggle ios">
                        <input id="story_quiz_enabled" name="story_quiz_enabled" ng-model="active_exhibit.stories[current_museum.language].quiz.state" type="radio" value="published"><label for="story_quiz_enabled" ng-click="quiz_state(quizform)">Enabled</label><input id="story_quiz_disabled" name="story_quiz_enabled" ng-model="active_exhibit.stories[current_museum.language].quiz.state" type="radio" value="limited"><label for="story_quiz_disabled" ng-click="quiz_state(quizform)">Disable</label><a></a>
                      </div>
                      <placeholderfield ng-field="question" ng-help="help text for popup" ng-id="story_quiz_attributes_question" ng-item="active_exhibit.stories[current_museum.language].quiz" ng-title="Question"></placeholderfield>
                      <div class="error">
                        <div class="controls"></div>
                      </div>
                      <div class="answers">
                        <quizanswer ng-collection="active_exhibit.stories[current_museum.language].quiz.answers" ng-id="story_quiz_attributes_answers_attributes_{{$index}}_content" ng-item="answer" ng-repeat="answer in active_exhibit.stories[current_museum.language].quiz.answers"></quizanswer>
                      </div>
                      <placeholdertextarea ng-field="description" ng-help="help text for popup 3" ng-id="quiz_description" ng-item="active_exhibit.stories[current_museum.language].quiz" ng-title="Description"></placeholdertextarea>
                    </form>
                  </div>
                </tab><tab heading="QR-code">
                  <div class="row" id="qr_code">
                    <div class="qr_image col-lg-4">
                      <img alt="Qr_code" id="qr" src="{{active_exhibit.qr_code.url}}">
                    </div>
                    <div class="well col-lg-4">
                      <a class="btn qr-code" href="{{active_exhibit.qr_code.print_link}}" target="_blank">Print QR-code</a><br>
                        <p>
                          You can print the Exhibit's QR-code and place it near the Exhibit. When the MTG Client reads this code, it will open the Exhibit's page immediately. If there is no MTG Client installed on the user's phone, then it will take the user to a download page on either AppStore or Google Play.
                        </p>
                      </br>
                    </div>
                  </div>
                </tab><tab heading="More">hgsdfklghdfj kgkjdf hg</tab></tabset>
            </div>
            <div class="next-ex"></div>
          </li>
          <li class="exhibit" data-big-image="{{exhibit.image}}" ng-class="{active: exhibit.active}" ng-repeat="exhibit in exhibits | filter: exhibit_search">
            <div class="opener {{exhibit.status}}" ng-class="{&#39;border&#39;: exhibit.selected}">
              <div class="overlay"></div>
              <div class="checkbox">
                <input ng-change="check_selected()" ng-model="exhibit.selected" type="checkbox">
              </div>
              <div class="image" ng-click="open_dropdown($event, exhibit)">
                <img src="{{exhibit.thumb}}">
              </div>
              <div class="description" ng-click="open_dropdown($event, exhibit)">
                <h4>
                  {{exhibit.number}} {{exhibit.stories[current_museum.language].name}}
                </h4>
              </div>
              <div class="visibility" ng-switch="" on="exhibit.stories[current_museum.language].publish_state">
                <i class="icon-globe placeholder" ng-switch-when="all"></i><i class="icon-user placeholder" ng-switch-when="passcode"></i>
                <div class="on_hover">
                  <switchpub ng-item="exhibit.stories[current_museum.language]" ng-provider="provider"></switchpub>
                </div>
              </div>
            </div>
          </li>
          <li class="exhibit dummy" data-big-image="/img/img-bg.png" ng-show="new_item_creation">
            <div class="opener draft">
              <div class="overlay" ng-click="open_dropdown($event, new_exhibit)"></div>
              <div class="image">
                <img src="/img/img-bg.png">
              </div>
              <div class="description" ng-click="open_dropdown($event, new_exhibit)">
                <h4>
                  {{new_exhibit.number}} {{exhibit.stories[current_museum.language].name}}
                </h4>
              </div>
              <div class="visibility" ng-switch="" on="new_exhibit.stories[current_museum.language].publish_state">
                <i class="icon-globe placeholder" ng-switch-when="all"></i><i class="icon-user placeholder" ng-switch-when="passcode"></i>
                <div class="on_hover">
                  <switchpub ng-item="new_exhibit.stories[current_museum.language]" ng-provider="provider"></switchpub>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="lib/ui-bootstrap-0.6.0.js"></script>
    <script src="lib/angularLocalStorage.js"></script>
    <script src="lib/jquery-1.10.2.js"></script>
    <script src="lib/jquery.scrollTo.js"></script>
    <script src="lib/jquery.jplayer.min.js"></script>
    <script src="lib/jQuery-File-Upload/vendor/jquery.ui.widget.js"></script>
    <script src="lib/jQuery-File-Upload/jquery.iframe-transport.js"></script>
    <script src="lib/jQuery-File-Upload/jquery.fileupload.js"></script>
    <script src="lib/jQuery-File-Upload/jquery.fileupload-fp.js"></script>
    <script src="lib/jQuery-File-Upload/locale.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>
