<!DOCTYPE html>
<html lang="en" ng-app="Museum">
  <head>
    <meta charset="utf-8">
    <title>
      IZI Prototype
    </title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/jplayer.blue.monday.css" rel="stylesheet">
    <link href="css/toggle-switch.css" rel="stylesheet">
    <link href="css/prototype.css" rel="stylesheet">
  </head>
  <body ng-controller="IndexController">
    <div class="navigation navbar-fixed-top">
      <div class="museum_navigation_menu">
        <div class="museum_navbar row">
          <div class="left_content">
            <i class="icon-external-link"></i><a class="top_nav" href="#">Open in new Tab</a><i class="icon-bar-chart"></i><a class="top_nav" href="#">Statistic</a><i class="icon-plus-sign"></i><a class="top_nav" href="#">New museum</a><i class="icon-plus-sign"></i><a class="top_nav" href="#">New Tour</a>
          </div>
          <div class="right_content navbar-right">
            <div class="searches">
              <div class="search">
                <i class="icon-search"></i><a href="#">{{museum_search || 'Search'}}</a>
              </div>
              <div class="search_input" ng-show="museum_search_visible">
                <input class="form-control" ng-model="museum_search" placeholder="Search" type="text"><a class="search_reset" href="#" ng-click="museum_search=&#39;&#39;"><i class="icon-remove-sign"></i></a>
              </div>
            </div>
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="visibility_filter">{{user.mail}}<span class="caret"></span></a>
              <ul aria-labelledby="visibility_filter" class="dropdown-menu" role="menu">
                <li ng-repeat="provider in user.providers" role="presentation">
                  <a href="{{provider.link}}" role="menuitem" tabindex="-1">{{provider.name}}</a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="provider in user.providers" role="presentation">
                  <a href="{{provider.link}}" role="menuitem" tabindex="-1">Edit {{provider.name}}</a>
                </li>
                <li class="divider"></li>
                <li role="presentation">
                  <a href="" role="menuitem" tabindex="-1">Profile</a>
                </li>
                <li role="presentation">
                  <a href="" role="menuitem" tabindex="-1">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="museum_filters">
          <a class="active time_changed" href="#" ng-click="museum_type_filter = &#39;&#39;"><i class="icon-time"></i></a><a class="type_museum" href="#" ng-click="museum_type_filter = &#39;museum&#39;"><i class="icon-home"></i></a><a class="type_tour" href="#" ng-click="museum_type_filter = &#39;tour&#39;"><i class="icon-map-marker"></i></a>
        </div>
        <ul class="museum_list row">
          <li class="museum" ng-repeat="museum in museums | filter:museum_search | filter:{type:museum_type_filter}">
            <a href="#"><span class="package_status {{museum.packege_status}}"><i ng-class="{&#39;icon-ok-sign&#39;:museum.packege_status==&#39;generated&#39;, &#39;icon-refresh&#39;:museum.packege_status==&#39;process&#39;}"></i></span><img src="{{museum.image}}">
              <h4>
                {{museum.name}}, <span>{{museum.city}}</span>
              </h4>
            </a>
          </li>
        </ul>
      </div>
      <div class="navbar navbar-default">
        <div class="left_content">
          <a class="menu_opener" href="#" ng-click="toggle_menu($event)"><i class="icon-reorder"></i></a>
          <h1 class="museum_title">
            {{current_museum.name}}
          </h1>
          <div class="btn-group language">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">English    <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="story in current_museum.stories">
                <a href="#">{{story.name}}</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{{current_museum.new_story_link}}">New language</a>
              </li>
            </ul>
          </div>
          <div class="btn-group"></div>
        </div>
        <div class="right_content">
          <span class="autosaved_info">Changes autosaved at 19:46</span>
          <div class="btn-group">
            <button class="btn btn-success" type="button">Updateted to everyone</button><button class="btn btn-success dropdown-toggle" data-toggle="dropdown" type="button">
              <div class="extra">
                <i class="icon-globe"></i>
              </div>
              <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="actions_bar">
        <div class="left_content">
          <button class="btn btn-warning spacer" id="create_new_item" type="button">New item </button>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle spacer" data-toggle="dropdown" type="button">Actions  <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="#">1</a>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">3</a>
              </li>
            </ul>
          </div>
          <div class="btn-group spacer">
            <button class="btn btn-default undo" type="button"><i class="icon-undo"></i></button><button class="btn btn-default redo" type="button"><i class="icon-repeat"></i></button>
          </div>
        </div>
        <div class="right_content">
          <span class="limits spacer">All items: <b>50-150</b> of <b>304 </b></span>
          <div class="btn-group spacer">
            <button class="btn btn-default prev" type="button"><i class="icon-chevron-left"></i></button><button class="btn btn-default next" type="button"><i class="icon-chevron-right"></i></button>
          </div>
          <input class="form-control search spacer" placeholder="Search" type="text"><button class="btn btn-default filter_opener" ng-click="toggle_filters($event)" type="button">Filters</button>
        </div>
      </div>
      <div class="filters_bar">
        <a class="clear_fiters spacer" href="#">Clear filters</a>
        <div class="dropdown">
          <a data-toggle="dropdown" href="#" id="visibility_filter">Visibility in mobile application <span class="caret"></span></a>
          <ul aria-labelledby="visibility_filter" class="dropdown-menu" role="menu">
            <li role="presentation">
              <a href="#" role="menuitem" tabindex="-1">Action</a>
            </li>
            <li role="presentation">
              <a href="#" role="menuitem" tabindex="-1">Action</a>
            </li>
            <li role="presentation">
              <a href="#" role="menuitem" tabindex="-1">Action</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="page">
        <ul class="exhibits">
          <li id="drop_down" ng-controller="EditItemController">
            <div class="prev-ex"></div>
            <div id="images">
              <div class="images-list ui-sortable" data-liftable="data-liftable" data-sort-url="/77/story_sets/5546/images/sort" style="">
                <h4 class="hidden-header hidden">
                  Shown images
                  <div class="help-tooltip">
                    <i class="icon-question-sign icon tip" data-placement="right" title="The images from this list will be made visible in mobile app.&amp;lt;br&amp;gt;The list should contain no more than 16 images."></i>
                  </div>
                </h4>
                <ul class="images-displayed" data-max-displayed="16">
                  <li id="media_content_ids_38999" style="position: relative;">
                    <form accept-charset="UTF-8" action="/77/story_sets/5546/images/38999" class="upload-form" data-remote="true" enctype="multipart/form-data" id="edit_image_38999" method="post">
                      <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="slPXFPmxToMp04VZEhyFiOHAmj1fX4qmry9EFqFud5E=">
                      </div>
                      <input class="hide fileupload" data-accept="image" id="image_link" name="image[link]" type="file"><a class="thumbnail" href="/77/story_sets/5546/images/38999/crop.json"><img alt="" data-crop-url="https://s3-eu-west-1.amazonaws.com/original-media.dev.izi.travel/6f628c51-1ba0-48ef-8213-0c84253753e3/2f12a234-be93-4f6d-8ff9-37ead034136f.jpg" src="https://s3-eu-west-1.amazonaws.com/original-media.dev.izi.travel/6f628c51-1ba0-48ef-8213-0c84253753e3/2f12a234-be93-4f6d-8ff9-37ead034136f_thumb.jpg"></a><a class="remove" data-confirm="Are you sure you wish to delete this image?" data-method="delete" href="/77/story_sets/5546/images/38999" rel="nofollow"></a>
                      <div class="progress progress-success progress-striped active hide">
                        <div class="bar"></div>
                      </div>
                      <a class="browse update">Update image</a>
                    </form>
                  </li>
                  <li id="media_content_ids_39000" style="position: relative;">
                    <form accept-charset="UTF-8" action="/77/story_sets/5546/images/39000" class="upload-form" data-remote="true" enctype="multipart/form-data" id="edit_image_39000" method="post">
                      <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="slPXFPmxToMp04VZEhyFiOHAmj1fX4qmry9EFqFud5E=">
                      </div>
                      <input class="hide fileupload" data-accept="image" id="image_link" name="image[link]" type="file"><a class="thumbnail" href="/77/story_sets/5546/images/39000/crop.json"><img alt="" data-crop-url="https://s3-eu-west-1.amazonaws.com/original-media.dev.izi.travel/6f628c51-1ba0-48ef-8213-0c84253753e3/9efe1d5c-047c-4ae3-989c-62ac7af7206a.jpg" src="https://s3-eu-west-1.amazonaws.com/original-media.dev.izi.travel/6f628c51-1ba0-48ef-8213-0c84253753e3/9efe1d5c-047c-4ae3-989c-62ac7af7206a_thumb.jpg"></a><a class="remove" data-confirm="Are you sure you wish to delete this image?" data-method="delete" href="/77/story_sets/5546/images/39000" rel="nofollow"></a>
                      <div class="progress progress-success progress-striped active hide">
                        <div class="bar"></div>
                      </div>
                      <a class="browse update">Update image</a>
                    </form>
                  </li>
                </ul>
                <h4 class="hidden-header hidden">
                  More images
                  <div class="help-tooltip">
                    <i class="icon-question-sign icon tip" data-placement="right" title="The images from this list will not be visible in mobile app.&amp;lt;br&amp;gt;To make the image visible in mobile app, please,&amp;lt;br&amp;gt;move it to the upper list by holding down the left mouse button."></i>
                  </div>
                </h4>
                <ul class="images-hidden">
                  <li class="new">
                    <a class="upload-image" href="/77/story_sets/5546/images/new">
                      <div class="picture"></div>
                      <div class="progress progress-success progress-striped active hide">
                        <div class="bar" style="width: 100%;"></div>
                      </div>
                      <span class="name">Upload image
                        <div class="help-tooltip">
                          <i class="icon-question-sign icon tip" data-original-title="Upload exhibit photograph in JPEG or PNG format.&amp;lt;br&amp;gt;This image will be shown to the mobile application user on their smartphone or tablet.&amp;lt;br&amp;gt;Use high quality images that are not too large.&amp;lt;br&amp;gt;The most advantageous photograph proportions are 4:3." data-placement="right"></i>
                        </div>
                      </span></a>
                  </li>
                </ul>
              </div>
              <div class="modal hide crop-wrap" id="crop_modal">
                <div class="modal-header">
                  <button class="close" data-dismiss="modal"></button>
                  <h3>
                    Crop image
                    <div class="help-tooltip">
                      <i class="icon-question-sign icon tip" data-placement="bottom" title="In this window you may crop the uploaded photograph. Remember that, on a smartphone screen, 4:3 proportioned photographs look the most appealing. The cropping frame has these proportions as the default."></i>
                    </div>
                  </h3>
                </div>
                <div class="modal-body" style="min-height: 0px;">
                  <div class="image-for-crop">
                    <img src="https://s3-eu-west-1.amazonaws.com/original-media.dev.izi.travel/6f628c51-1ba0-48ef-8213-0c84253753e3/2f12a234-be93-4f6d-8ff9-37ead034136f.jpg" style="display: block; visibility: hidden; width: 2304px; height: 1536px;">
                  </div>
                </div>
                <div class="modal-footer">
                  <a class="btn btn-primary save-crop">Save</a><a class="btn" data-dismiss="modal">Cancel</a>
                </div>
              </div>
            </div>
            <div class="description">
              <div class="close"></div>
              <switchpubitem ng-item="exhibit" ng-provider="$parent.provider"></switchpubitem><a class="delete_story" data-toggle="modal" href="#delete_story"><i class="icon-trash"></i></a>
              <div aria-hidden="true" class="modal fade" id="delete_story" role="dialog" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form class="form-horizontal">
                        <div class="form-group">
                          <label class="control-label" for="lang_en"><input id="lang_en" name="language" type="radio" value="en">Delete only English language</label>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="lang_all"><input id="lang_all" name="language" type="radio" value="all">Delete all languages</label>
                        </div>
                        <div class="form-group">
                          <label class="control-label lang_selected" for="lang_selected"><input id="lang_selected" name="language" type="radio" value="selected">Delete only selected languages</label>
                        </div>
                        <div class="other_variants">
                          <div class="form-group">
                            <label class="control-label" for="language_en"><input id="language_en" name="language_en" type="checkbox" value="selected">English</label>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="language_ru"><input id="language_ru" name="language_ru" type="checkbox" value="selected">Russian</label>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="language_it"><input id="language_it" name="language_it" type="checkbox" value="selected">Italian</label>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="language_fr"><input id="language_fr" name="language_fr" type="checkbox" value="selected">French</label>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-default" data-dismiss="modal" type="button">Delete</button><button class="btn btn-primary" data-dismiss="modal" type="button">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
              <tabset><tab heading="Media content">
                  <div class="row" id="media">
                    <form class="form-horizontal" role="form">
                      <placeholderfield ng-field="number" ng-help="help text for popup" ng-id="opas_number" ng-item="exhibit" ng-title="OPAS number"></placeholderfield><placeholderfield ng-field="name" ng-help="help text for popup 2" ng-id="name" ng-item="exhibit" ng-title="Name"></placeholderfield>
                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="audio">Audio</label>
                        <div class="help">
                          <i class="icon-question-sign" data-content="Supplementary field. You may indicate the exhibit’s inventory, or any other number, that will help you to identify the exhibit within your own internal information system." data-placement="bottom"></i>
                        </div>
                        <div class="col-lg-6">
                          <div class="jp-jplayer" id="jquery_jplayer_1"></div>
                          <div class="jp-audio" id="jp_container_1">
                            <div class="jp-type-single">
                              <div class="jp-gui jp-interface">
                                <ul class="jp-controls">
                                  <li>
                                    <a class="jp-play" href="javascript:;" tabindex="1"></a>
                                  </li>
                                  <li>
                                    <a class="jp-pause" href="javascript:;" tabindex="1"></a>
                                  </li>
                                </ul>
                              </div>
                              <div class="dropdown">
                                <a data-toggle="dropdown" href="#" id="visibility_filter">Audioguide 01<span class="caret"></span></a>
                                <ul aria-labelledby="visibility_filter" class="dropdown-menu" role="menu">
                                  <li role="presentation">
                                    <a href="#" role="menuitem" tabindex="-1">Replace</a>
                                  </li>
                                  <li role="presentation">
                                    <a href="#" role="menuitem" tabindex="-1">Download</a>
                                  </li>
                                </ul>
                              </div>
                              <div class="jp-progress">
                                <div class="jp-seek-bar">
                                  <div class="jp-play-bar"></div>
                                </div>
                              </div>
                              <div class="jp-time-holder">
                                <div class="jp-current-time"></div>
                                <div class="jp-duration"></div>
                              </div>
                              <div class="jp-no-solution">
                                <span>Update Required</span>To play the media you will need to either update your browser to a recent version or update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank"></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <placeholdertextarea ng-field="description" ng-help="help text for popup 3" ng-id="description" ng-item="exhibit" ng-title="Description"></placeholdertextarea>
                      <div class="form-group last">
                        <div class="pull-right done_button">
                          <a class="btn btn-default done" href="#">Done</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </tab><tab heading="Quiz">
                  <div class="row" id="quiz">
                    <div class="switch ios">
                      <input checked="" id="story_quiz_enabled" name="story_quiz_enabled" type="radio"><label for="story_quiz_enabled">Enabled</label><input id="story_quiz_disabled" name="story_quiz_enabled" type="radio"><label for="story_quiz_disabled">Disable</label><span class="slide-button"></span>
                    </div>
                    <form class="form-horizontal" role="form">
                      <placeholderfield ng-field="question" ng-help="help text for popup" ng-id="story_quiz_attributes_question" ng-item="exhibit.stories[0].quiz" ng-title="Question"></placeholderfield>
                      <div class="error">
                        <div class="controls"></div>
                      </div>
                      <div class="answers">
                        <label class="hidden correct-label">Correct answer</label><quizanswer ng-field="title" ng-id="story_quiz_attributes_answers_attributes_{{$index}}_content" ng-item="answer" ng-repeat="answer in exhibit.stories[0].quiz.answers"></quizanswer>
                      </div>
                      <placeholdertextarea ng-field="description" ng-help="help text for popup 3" ng-id="quiz_description" ng-item="exhibit.stories[0].quiz" ng-title="Description"></placeholdertextarea>
                    </form>
                  </div>
                </tab><tab heading="QR-code">
                  <div class="row" id="qr_code">
                    <div class="qr_image col-lg-4">
                      <img alt="Qr_code" id="qr" src="/img/qr_code.png">
                    </div>
                    <div class="well col-lg-4">
                      <a class="btn qr-code" href="/1/story_sets/8/qr_code.html" target="_blank">Print QR-code</a><br>
                        <p>
                          You can print the Exhibit's QR-code and place it near the Exhibit. When the MTG Client reads this code, it will open the Exhibit's page immediately. If there is no MTG Client installed on the user's phone, then it will take the user to a download page on either AppStore or Google Play.
                        </p>
                      </br>
                    </div>
                  </div>
                </tab><tab heading="More">hgsdfklghdfj kgkjdf hg</tab></tabset>
            </div>
            <div class="next-ex"></div>
          </li>
          <li class="exhibit" data-big-image="{{exhibit.image}}" ng-class="{active: exhibit.active}" ng-click="open_exhibit_dropdown(exhibit)" ng-repeat="exhibit in exhibits">
            <div class="opener {{exhibit.status}}">
              <div class="overlay"></div>
              <div class="checkbox">
                <input type="checkbox">
              </div>
              <div class="image">
                <img src="{{exhibit.thumb}}">
              </div>
              <div class="description">
                <h4>
                  {{exhibit.number}} {{exhibit.name}}
                </h4>
              </div>
              <div class="visibility" ng-switch="" on="exhibit.publish_state">
                <i class="icon-globe placeholder" ng-switch-when="all"></i><i class="icon-user placeholder" ng-switch-when="passcode"></i>
                <div class="on_hover">
                  <switchpub ng-item="exhibit" ng-provider="provider"></switchpub>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.6.0.js"></script>
    <script src="lib/ui-bootstrap-0.6.0.js"></script>
    <script src="lib/jquery-1.10.2.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
  </body>
</html>
